* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
}

button {
  -webkit-appearance: none;
  border: 0;
}

.app-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .site-content {
    flex-grow: 1;
  }
}

.site-content {
  font-size: $fs-body;
}