* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  -webkit-appearance: none;
  border: 0;
}

ul,
ol {
  padding-left: 35px;
}

.app-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .site-content {
    flex-grow: 1;
  }
}

.site-content {
  font-size: $fs-body;
}

.gist .blob-code-inner {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;

  & * {
    font-family: inherit;
  }
}