* {
  font-family: $f-body;
  letter-spacing: 0.5px;
  line-height: 1.3em;
}

h1,
h2,
h3 {
  font-family: $f-heading;
}

.post__title,
.page__title {
  margin: 15px auto;
  font-size: 45px;
  text-align: center;
  text-transform: capitalize;
}