// Breakpoints
$small:      550px;
$medium:     800px;
$break-menu: 800px;
$large:      1200px;

// Spacing
$gutter:     20px;

// Coloring
$c-dark-grey: #333;
$c-medium-grey: #777;
$c-uber-light-grey: #EEE;
$c-white: #FFF;

// Fonts
$f-heading: 'Lato', sans-serif;
$f-body: 'Raleway', sans-serif;
