* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

button {
  -webkit-appearance: none;
  border: 0;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: color .2s, background-color .2s;
}

button:hover {
  background-color: #ddd;
  color: #000;
}

.button__delete {
  background-color: #A33;
}

.button__delete:hover {
  background-color: #FAA;
}

label,
.label {
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

.form div {
  margin-bottom: 10px;
}

.form input,
.form textarea,
.form select {
  width: 300px;
}

.wrapper {
  padding: 10px;
  min-height: 100vh;
  display: flex;
}

.left-side {
  flex-basis: 30%;
  flex-grow: 0;
  flex-shrink: 0;
}

.selectors {
  margin-bottom: 20px;
  display: flex;
  background-color: #333;
  color: #fff;
}

.selectors li {
  padding: 10px;
  list-style-type: none;
  cursor: pointer;
}

.selectors li + li {
  margin-left: 30px;
}

.children {
  position: relative;
  margin: 15px 0;
  border: 1px solid #CCC;
  padding: 15px 7px;
}

.children::before {
  content: 'Children';
  display: inline-block;
  position: absolute;
  left: 10px;
  padding: 0 10px;
  transform: translateY(-135%);
  background-color: #fff;
}

.children div + div {
  margin-top: 15px;
}