.menu {
  display: none;

  @include media-from($break-menu) {
    display: flex;
  }

  a {
    display: inline-block;
    padding: 0 10px;
    line-height: 44px;
    white-space: nowrap;
  }

  li {
    line-height: 1.2em;
  }

  & > li {
    position: relative;

    @include media-from($break-menu) {
      margin-left: 60px;

      &:hover {
        background-color: lighten($c-dark-grey, 5%);
      }

      &:hover .sub-menu,
      & .sub-menu:hover {
        display: block;
      }
    }
  }

  .sub-menu {
    padding-left: 30px;

    li {
      line-height: 0em;
      overflow: hidden;
      transition: line-height .4s;
    }

    @include media-from($break-menu) {
      position: absolute;
      top: 100%;
      right: 0;
      left: auto !important;
      display: none;

      li {
        padding: 0 10px;
        line-height: 1.2em;
        background-color: $c-uber-light-grey;
        color: $c-black;
      }
    }
  }

  .sub-menu--open .sub-menu li {
    line-height: 1.2em;
    transition: line-height .4s;
  }

  .sub-menu__toggle {
    position: absolute; 
    top: 0;
    left: 10px;
    border: 0;
    padding: 10px 15px;

    @include media-from($break-menu) {
      display: none;
    }
  }
}

.menu-toggle {
  @include mobile-only();
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  color: $c-white;
  font-size: 30px;
  z-index: 20;
}

@include media-to($break-menu) {
  .nav-open .menu {
    display: block;
  }

  .site-navigation {
    position: relative;
  }

  .nav-open .site-navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $c-dark-grey;
  }

  .nav-open .menu-toggle {
    position: absolute;
    right: $gutter;
  }
}