.post-wrapper {
  display: flex;
  flex-direction: column;

  @include media-from($break-menu) {
    flex-direction: row;
    justify-content: space-between;
  }

  .post__content,
  .sidebar {
    flex-grow: 0;
    flex-shrink: 0;
  }

  .post__content {
    flex-basis: 100%;
    width: 100%;
    
    @include media-from($break-menu) {
      flex-basis: 65%;
      width: 65%;
    }
  }

  .sidebar {
    margin-top: 50px;
    @include media-from($break-menu) {
      flex-basis: 30%;
      margin-top: 0;
    }
  }
}

.page,
.post--single {
  .page__author-image,
  .post__author-image {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0 60px;

    &::before,
    &::after {
        content: '';
        position: absolute;
        height: 2px;
        left: 15%;
        right: 15%;
        background-color: $c-dark-grey;
    }

    &::before {
        top: -10px;
    }

    &::after {
        bottom: -10px;
    }

    img {
      border-radius: 100%;
    }
  }

  .page__content,
  .post__content {
    & > * {
      margin-bottom: 15px;
    }
  }
}

.back-button {
  padding: 8px 0;
  color: $c-blue;
  cursor: pointer;

  i {
    margin-right: 5px;
    transition: margin-right .3s;
  }

  &:hover i {
    margin-right: 15px;
  }
}

.feature-image--single {
  max-height: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    width: 100%;
  }
}

.memes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  img {
    margin-top: 30px;
    max-width: 100%;
    cursor: pointer;

    @include media-from($small) {
      max-width: 49%;
    }
    @include media-from($break-menu) {
      max-width: 31%;
    }
  }
}